body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
}

#clock {
    float: left;
    position: absolute;
    border: 5px solid black;
    margin-right: 50%;
    width: 43%;
    height: 88%;
    border-radius: 50%;
    z-index: 0;
}

.minMark {
    position: absolute;
    border: 1px solid #333;
    width: 95%;
    top: 50%;
    left: 2.5%;
    z-index: 50;
}

#bottomCircle {
    position: absolute;
    background-color: azure;
    width: 90%;
    height: 90%;
    top: 5.3%;
    left: 5.3%;
    border-radius: 50%;
    z-index: 75;
}

.hourMark {
    position: absolute;
    border: 3px solid black;
    width: 95%;
    top: 50%;
    left: 2.5%;
    z-index: 75;
}

#middleCircle {
    position: absolute;
    background-color: azure;
    width: 90%;
    height: 90%;
    top: 5.4%;
    left: 5.3%;
    border-radius: 50%;
    z-index: 96;
}

#topCircle {
    position: absolute;
    background-color: black;
    width: 5%;
    height: 5%;
    top: 48%;
    left: 48%;
    border-radius: 50%;
    z-index: 100;
}

.hourNumber {
    position: absolute;
    color: black;
    font-size: 125%;
    z-index: 100;
}

#num12 {
    top: -4%;
    left: 45%;
}

#num1 {
    top: 1%;
    left: 68%;
}

#num2 {
    top: 15%;
    left: 83%;
}

#num3 {
    top: 35.5%;
    left: 88%;
}

#num4 {
    top: 55%;
    left: 83%;
}

#num5 {
    top: 70%;
    left: 68%;
}

#num6 {
    top: 75%;
    left: 48%;
}

#num7 {
    top: 70%;
    left: 28%;
}

#num8 {
    top: 56%;
    left: 13%;
}

#num9 {
    top: 35.5%;
    left: 7%;
}

#num10 {
    top: 15%;
    left: 11.5%;
}

#num11 {
    top: 1.5%;
    left: 25%;
}

#hourHand {
    position: absolute;
    border: 5px solid black;
    background-color: black;
    height: 30%;
    width: 1.5%;
    top: 19%;
    left: 49%;
    z-index: 99;
    transform-origin: bottom;
}

#minHand {
    position: absolute;
    border: 2px solid black;
    background-color: black;
    height: 42%;
    width: 0.9%;
    top: 7.5%;
    left: 49.8%;
    z-index: 97;
    transform-origin: bottom;
}

#secHand {
    position: absolute;
    border: 1px solid red;
    background-color: red;
    height: 46%;
    width: 0.1%;
    top: 4.1%;
    left: 50.3%;
    z-index: 98;
    transform-origin: bottom;
}

#textInfo {
    position: relative;
    left: 25%;
}